<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tests.RegressionTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CategoryPage_ProductInfo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicPuchasePayPal</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Accessories_GiftCards</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ToNavigationAppearance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidHomePageSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CategoryPage_SizeChart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CurrencyCheckforCA</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Accessories_PhysicalGiftCardQV</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Accesories_E_GiftCard_QV</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Checkout_BillingAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ShoesItemCheckCatPage</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutEmptyBag</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidPromoCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CategoryPageWomen_SwimWearBundlePDP</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CategoryPageWomen_SwimWearBundle_QuickView</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HomePageFooterLinks</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Accessories_EGC_MissingFields</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CategoryPage_OneSizeItem</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutGuestUser_CanadaShipping</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Register</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckoutModify</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>EnterNoPromoCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CategoryPage_SBO</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MultipleItemsPurchase</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>QVOverview</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BasicPurchaseCC</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ForgotPasswordLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>InvalidPromoCode</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>ValidHomePageSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CategoryPage_WomenActiveWear</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getRunTime</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
