<h2>Methods that were not run</h2><table>
<tr><td>tests.RegressionTests.Accessories_PhysicalGiftCardQV</td></tr>
<tr><td>tests.RegressionTests.Register</td></tr>
<tr><td>tests.RegressionTests.BasicPurchaseCC</td></tr>
<tr><td>tests.RegressionTests.MultipleItemsPurchase</td></tr>
<tr><td>tests.RegressionTests.QVOverview</td></tr>
<tr><td>tests.RegressionTests.CheckoutModify</td></tr>
<tr><td>tests.RegressionTests.Accessories_GiftCards</td></tr>
<tr><td>tests.RegressionTests.CheckoutGuestUser_CanadaShipping</td></tr>
<tr><td>tests.RegressionTests.ToNavigationAppearance</td></tr>
<tr><td>tests.RegressionTests.CategoryPage_SBO</td></tr>
<tr><td>tests.RegressionTests.CategoryPageWomen_SwimWearBundle_QuickView</td></tr>
<tr><td>tests.RegressionTests.CheckoutEmptyBag</td></tr>
<tr><td>tests.RegressionTests.CategoryPageWomen_SwimWearBundlePDP</td></tr>
<tr><td>tests.RegressionTests.HomePageFooterLinks</td></tr>
<tr><td>tests.RegressionTests.CategoryPage_OneSizeItem</td></tr>
<tr><td>tests.RegressionTests.InvalidPromoCode</td></tr>
<tr><td>tests.RegressionTests.BasicPuchasePayPal</td></tr>
<tr><td>tests.RegressionTests.ForgotPasswordLink</td></tr>
<tr><td>tests.RegressionTests.EnterNoPromoCode</td></tr>
<tr><td>tests.RegressionTests.ValidHomePageSearch</td></tr>
<tr><td>tests.RegressionTests.ShoesItemCheckCatPage</td></tr>
<tr><td>tests.RegressionTests.CategoryPage_SizeChart</td></tr>
<tr><td>tests.RegressionTests.CategoryPage_WomenActiveWear</td></tr>
<tr><td>tests.RegressionTests.CategoryPage_ProductInfo</td></tr>
<tr><td>tests.RegressionTests.CurrencyCheckforCA</td></tr>
<tr><td>tests.RegressionTests.Accessories_EGC_MissingFields</td></tr>
<tr><td>tests.RegressionTests.ValidPromoCode</td></tr>
<tr><td>tests.RegressionTests.InvalidHomePageSearch</td></tr>
<tr><td>tests.RegressionTests.Accesories_E_GiftCard_QV</td></tr>
</table>