<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d16fc1">  <td>15/01/27 11:09:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="RegressionTests.Checkout_BillingAddress()[pri:0, instance:[RegressionTests passed=0 failed=0 skipped=0]]">Checkout_BillingAddress</td> 
  <td>main@1623980477</td>   <td></td> </tr>
<tr bgcolor="c07e99">  <td>15/01/27 11:10:42</td>   <td>102470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterTest()[pri:0, instance:[RegressionTests passed=0 failed=0 skipped=0]]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@1623980477</td>   <td></td> </tr>
<tr bgcolor="c07e99">  <td>15/01/27 11:08:35</td>   <td>-25055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeTest()[pri:0, instance:[RegressionTests passed=0 failed=0 skipped=0]]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td>  <td>main@1623980477</td>   <td></td> </tr>
<tr bgcolor="c07e99">  <td>15/01/27 11:10:42</td>   <td>102508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.getRunTime(org.testng.ITestResult)[pri:0, instance:[RegressionTests passed=0 failed=0 skipped=0]]">&lt;&lt;getRunTime</td> 
<td>&nbsp;</td>  <td>main@1623980477</td>   <td></td> </tr>
</table>
